.footer{
    background-color:rgb(79, 90, 101);
    /* text-align: ; */
    padding-bottom: 16px;
    width: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}
.footer .share a{
margin: 0 .3rem;
height: 1.5rem;
width: 1.5rem;
line-height: 1.5rem;
border-radius: 50%;
font-size: 0.8rem;
color: white;
background-color: black;

}
.share {
    display: flex;
    align-items: center;
    gap: 4px;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .share a:hover{
    background-color: #0068D9;

}
.footer .credite{
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 2rem solid var(--light--white);
}
.credit {
    color: white;
    font-weight: 400;
}
span {
    font-weight: 500;
}

a{
    cursor: pointer;
}

